body{
  background-color: aliceblue;
}

#mainframe{
  margin: 0 auto;
  width:70%;
  font-family: system-ui;
}

.wrapper{
  margin:25px auto;
  font-family: Helvetica;
  background-color: #bdd2d2;
  float:left;
  width:100%;
  min-height:30vw;
  box-shadow: -9px -8px 62px 0px rgba(0,0,0,0.63);
  -webkit-box-shadow: -9px -8px 62px 0px rgba(0,0,0,0.63);
  -moz-box-shadow: -9px -8px 62px 0px rgba(0,0,0,0.63);
  min-width:500px;
  min-height: 360px;
}

#title-image{
  display:block;
  width:auto;
  height: 2em;
  display:inline;
  vertical-align: middle;
}

#greeting{
  display:block;
  float:left;
  width:100%;
  padding:5px 0;
  font-family: system-ui;
  color:#fefefc;
  font-size: 3em;
  background-color: #1673b9;
  text-align: center;
}

#navitemsList{
  width:14%;
}

ul{
  margin:0;
  padding:0;
}

.navigationItem{
  float:left;
  width:100%;
  list-style-type: none;
  padding:10px 15px;
  text-align: center;
  background: rgb(22,115,185);
  background: linear-gradient(90deg, rgba(22,115,185,1) 0%, rgba(22,115,185,1) 80%, rgb(22 115 185 / 22%) 100%);
  color: whitesmoke;
  font-size: larger;
}

.navigationItem:hover{
  cursor: pointer;
  background: linear-gradient(90deg, rgba(22,115,185,1) 0%, rgba(22,115,185,1) 93%, rgb(22 115 185 / 22%) 100%);
}

.selectedNavItem{
  cursor: pointer;
  background: linear-gradient(90deg, rgba(22,115,185,1) 0%, rgba(22,115,185,1) 93%, rgb(22 115 185 / 22%) 100%);
  font-weight: bold;
}

#sectionViewer{
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.7) 90%, rgba(255,255,255,0) 100%);
  padding: 15px;
  display: inline-block;
  width: 72%;
  font-size: x-large;
  min-height: 260px;
}

.contentPlaceHolder{
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 15%;
  text-shadow: 0px 0px 4px #1673b9;
  color: rgb(22 115 185 / 0.7);
  font-size: 26px;
}

.contentImage{
  float: right;
  display: inline;
  width: 20%;
  box-shadow: 0 0 12px 2px black;
  margin-left: 20px;
}
